  h1 {
    margin-bottom: 40px;
  }
  
  h2 {
    border: 1px solid black;
    display: inline;
    padding: 20px;
    position: relative;
    top: -50px;
    z-index: 2;
    background-color: white;
  }
  
  .menu {
    display: inline-block;
    border: 1px solid black;
    margin: 30px;
    padding: 40px;
    z-index: 1;
    background-color: white;
  }
  
  ul {
    padding: 10px;
  }

  .order{
    color: black;
    font-size: 30px;
    font-weight: 700;
  }
  
  li {
    display: flex;
    flex-direction: column;
    list-style: none;
    border: 1px solid black;
    padding: 15px 40px;
    margin: 10px;
    background-color: white;
  }

